{% extends 'question_base.html' %}

{% load staticfiles %}

{% block title %}
Вопросы
{% endblock title %}



{% block unique_question %}

За кого бы вы охотнее всего отдали свой голос за кандидата - женщину или кандидата - мужчину?

{% endblock unique_question %}


{% block div_with_images %}

  <div class="flex_container">

<div class="flex_block">
  <img src="{% static 'img/kandidati/1_1.png' %}" alt="" class="normalize_size norm_1">
</div>
<div class="flex_block">
  <img src="{% static 'img/kandidati/1_2.jpg' %}" alt="" class="normalize_size norm_1">
</div>

</div>
{% endblock div_with_images %}

{% block radio %}
<div class="radio_box">
<form class="" action="/question_2/" method="post">

  {% csrf_token %}
  <div class="radio_margin">
    <input type="hidden" name="login" value="{{ login }}" class="ses">
    <input type="radio" name="answer_number" value="1" id="l_box1" checked>
    <label for="l_box1"><span></span>За кандидата- женщину!</label>
    <br>
    <input type="radio" name="answer_number" value="2" id="d_box2">
    <label for="d_box2"><span></span>За кандидата-мужчину!</label>
  </div>
  <!-- <label for="l_box1"><span></span><input type="radio" name="answer_number" value="1" id="l_box1">Otvet1</label>
  <label for="d_box2"><span></span><input type="radio" name="answer_number" value="2" id="d_box2">Otvet2</label> -->
  <button type="submit" name="button"class="botr">hoh</button>

</form>
</div>

{% endblock radio %}
